.main_details_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: auto;
    
    /* gap: 1rem; */
}
.main_details_div div{
    border: 1px solid red;
    padding: 0.5rem;
    font-size: 1.1rem;
}