table {
    /* border: 1px solid red; */
    width: 95%;
    margin: 20px auto;
    text-align: center;
}

table>thead th {
    /* border: 4px solid #4C3D3D; */
    font-size: 17px;
    line-height: 30px;
    font-family: Rockwell;
    background-color: #F99B7D;
}

td {
    /* border: 1px solid black; */
    padding: 10px;
    /* background-color: #F1F6F9; */
    background-color: #AACB73;
    font-family: Baskerville;

}

.page_button {
    margin: 5px;
    color: #070A52;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #2F0F5D;
    cursor: pointer;
    background: transparent;
}

.rows_per_page {
    /* border: 1px solid red; */
    width: 90%;
    font-size: 17px;
    cursor: pointer;
}

.rows_per_page>span {
    font-weight: bold;
    color: #070A52;
    margin: 3px 5px 0 0;
}

.rows_per_page>select {
    cursor: pointer;
}